<h1>Delete And Update</h1>
<form>
    <table border="1px">
        <tr>
            <td>Name</td>
            <td><button>Update</button></td>
            <td><button>Delete</button></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><button>Update</button></td>
            <td><button>Delete</button></td>
        </tr>
        <tr>
            <td>Contact Number</td>
            <td><button>Update</button></td>
            <td><button>Delete</button></td>
        </tr>
        <tr>
            <td>Date Of Birth</td>
            <td><button>Update</button></td>
            <td><button>Delete</button></td>
        </tr>
        
    </table>
</form>